
#my-p{
    color:red;
    font-size: 40px;
}
.my-p{
    color:red;
    font-size: 40px;
}
p{
    color:green;
    font-size: 40px;
}
.special{
    color:greenyellow;
    font-size: 40px;
}
#special{
    color:black;
    font-size: 40px;
}
#Test{
    color:black;
    font-size: 40px;
}
body{
    background-color: red;
    background-color: rgb(0, 0, 0);
    background-color: #00FF00;
    background-image: url("../download.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;


}