
#my-p{
    color:red;
    font-size: 40px;
}
.my-p{
    color:red;
    font-size: 40px;
}
p{
    color:green;
    font-size: 40px;
}
.special{
    color:greenyellow;
    font-size: 40px;
}
#special{
    color:black;
    font-size: 40px;
}
#Test{
    color:black;
    font-size: 40px;
}
body{
    background-color: red;
    background-color: rgb(0, 0, 0);
    background-color: #00FF00;
    background-image: url("../download.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;


}
div{
    /* border-width: 10px;
    border-color: red;
    border-style: solid; */
    border: 10px red solid;
    outline: 10px solid blue;
    outline-style: dashed;
    width: 300px;
    padding: 10px;
    background-color: red;
    margin: 10px;
    height: 30px;
    width: 300px;
}
/* 
Block
-Take full width if width not given
-respect width,height,padding,margin
-add line break
 */
 span{
    background: #00FF00;
    width: 400px;
    height: 100px;
    padding: 10px;
    display: inline-block;
    margin: 20px;
 }
 /* 
 inline 
 -don't add line break
 -respect padding and margin(left and right only)don't respect width,height
 - */
 /* 
 inline block
 -allow elements before and after it
 -respect width,height,padding,margin

 */
 .one{
background-color: red;
visibility: hidden;
margin: 10px 0;

 }