/* 
Transition
-Duration
-property
-delay
-timing function
*/

*{

box-sizing: border-box;
}
.one{
    background-color: #eee;
    width: 200px;
    height: 100px;
    /* transition-duration: 4s,2s;
    transition-delay: 0.2s;
    transition-property: width,height;
    transition-timing-function: ease-in-out; */
    transition: all 0.5s 2s linear;
}
.one:hover{
   
    width: 500px;
height: 120px;
}
/* 
important declaration
*/
.ONE{
    background-color: #eee !important;
}
.ONE{
    background-color: blue;
}
.parent{
    overflow: hidden;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: #eee;
}
.parent .one1,.parent .two2{
    float: left;
    width: 50%;
    height: 100%;
}
.one1{
    background-color: #ddd;
}
.two2{
    background-color: #aaa;
}
.up{
    background-color: red;
    color: white;
    height: 80px;
    margin-bottom:20px;
}
.down{
    margin-top: 20px;
    background-color: green;
    color: white;
    height: 80px;
}
/* 
Margin collapse
[1] only vertical amrgin collapse
[2] bigger margin wins
[3] Margin collapsing with elements without any element between
[4] nesting doesnot prevent collapsing
*/
/* 
css variables
-global variable
-local variable
*/
:root{
    --mainColor:blue;
    --mainPadding:10px;

}
.main{
    background-color: var(--mainColor,black);
    color: white;
    padding: calc(20px + var(--mainPadding));
}
h2{
    color: var(--mainColor);
    background-color: #eee;
    padding: calc(20px + var(--mainPadding));
}
p{
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: var(--mainPadding);
}
a:hover{
    color: var(--mainColor);
}
.local{
    --mainColor:black;
    background-color: var(--mainColor);
    color: white;
}
/* 
-Flexible box
-For parent
-display: flex => to start flexiable box
flex direction: row =>default value
flex wrap: nowrap =>default value
flex-flow: [flex-direction] [flex-wrap]
--
justify-content: flex-start =>default value
-- align-items: stretch => default value 
align-content:stretch => default value
child
-- flex-grow: 0:=> default value
--flex-shrink: 1 =>default value
-- order: 0 =>default value
--flex-basis:auto=> default value
flex:[Flex grow] [Flex shrink] [Flex basis] 01 Auto
align-self: auto =>Default value
*/
.flex{

    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
    align-items: flex-start;  
}
.flex div{
    background-color: #f00;
    color: white;
    float: left;
    width: calc(100%/3);
    text-align: center;
    padding: 20px;
}
.float{
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;  
}
.float div{
    background-color: #f00;
    color: white;
    float: left;
    width: calc(98%/3);
    text-align: center;
    padding: 20px;
}
.Flex div{
    background-color: #f00;
    color: white;
    width: 80px;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
    
}
.Flex{
    background-color: #eee;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    display: flex;

}
.in{
    display: inline-block;
}