body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
@media print{
    .assign-one{
        font-size: 40px;
    }
}
.num{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;

}
.assign-two{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.p{
    height: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
background-color: #eee;

}
/* Small Screen and mobiles*/
@media (max-width:991px)  {
    .num{
color: black;
    }
 .p{
    margin: 10px;

    width: 100%;
 }

}
/* Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
    .num{
        color: red;
            }
            .p{
margin-top: 5px;
margin-bottom: 5px;                width: calc(50% - 20px);
             }
            
}
/* large screens */
@media (min-width: 1200px) {
    .num{
        color: green;
            }
            .p{
margin-top: 5px;
margin-bottom: 5px;                width: calc(25% - 20px);
             }
            
}
.num2{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;

}
.assign-three{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
}
.p2{
    height: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
background-color: #eee;

}
/* Small Screen and mobiles*/
@media (max-width:991px)  {
    .num2{
color: black;
    }
 .p2{
    margin: 10px;

    width: 100%;
 }

}
/* Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
    .num2{
        color: red;
            }
            .one{
margin-top: 5px;
margin-bottom: 5px;               width: 98%;
             }
             .two,.three,.four{
                margin-top: 5px;
                margin-bottom: 5px;               width: calc(100% / 3 - 15px);
                             }
            
}
/* large screens */
@media (min-width: 1200px) {
    .num2{
        color: blue;
            }
            .one,.four{
margin-top: 5px;
margin-bottom: 5px;                width: 98%;
             }
            .two,.three{
margin-top: 5px;
margin-bottom: 5px;                width: calc(50% - 10px);
             }
            
}