*{
    box-sizing: border-box;
}
.one{
    margin: 20px auto;
    background-color: #eee;
    width:300px ;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 40px;
    font-weight: bold;
    color: #03a9f4;

}
.one::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #03a9f4;
    transform: rotate(-5deg);
    position: absolute;
    z-index: -1;
}
.one::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    transform: rotate(5deg);
    position: absolute;
    z-index: -2;
}
.two{
    margin: 20px auto;
    background-color: #eee;
    width:200px ;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 40px;
    font-weight: bold;
    color: black;
    border-radius: 50%;
}
.two::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border:5px solid #e91e63;
border-left-color: transparent;
}
.two::before{
    content: "";
    width: 210px;
    height: 210px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border:5px solid #03a9f4;
border-right-color: transparent;
}
.three{
    margin: 20px auto;
    background-color: #eee;
    width:200px ;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 40px;
    font-weight: bold;
    color: black;
    border-radius: 50%;
}
.three::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border:5px solid #e91e63;
border-left-color: transparent;
transition: 0.5s;
}
.three::before{
    content: "";
    width: 210px;
    height: 210px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border:5px solid #03a9f4;
border-right-color: transparent;
transition: 0.5s;
transition-delay: 0.5s;
}
.three:hover::after{
    transform: rotate(1turn);
}
.three:hover::before{
    transform: rotate(1turn);
}