.one{
    border-bottom: 2px solid red;
    color: red;
}
.two{
    border-bottom: 2px solid green;
    color: green;
}
.three{
    border-bottom: 2px solid blue;
    color: blue;
}
.four{
    border-bottom: 2px solid yellow;
    color: yellow;
}
.one,.two,.three,.four,.paragraph{
    padding: 10px;
    margin: 10px 0;
    background-color: #EEE;


}

div .special{
    color: green;
}
div .special{
    background-color: RED;
    padding: 10px;
    display: inline-block;
   min-width: 400px;
   max-width: 400px;
   
   

}
div{
    
    background-color: #eee;
    margin: 20px auto;
    border-radius: 6px;

}
.class{
    background-color: grey;
    /* color: rebeccapurple; */
text-shadow: 0 0 0 red;

 }
 .class2{
    background-color: #f9f9f9;
    text-align: center;
direction: rtl;
 }
 .class3{
    background-color: #f9f9f9;
    text-align: center;
direction: rtl;
 }
 /* 
 text color
 -background-color
 -color
 
 text shadow
 -syntax => text shadow:h- shadow v-shadow blur color*/
.inner
{
    text-align: center;
    vertical-align: top;
 }
 .outer
{
    text-align: center;
 }
 .class4{
    background-color: #f9f9f9;
    text-decoration:  none;
    text-transform: capitalize;

 }
 .class5{

text-decoration: none;}
.class6{
    letter-spacing: 2px;
    text-indent: 100px;

}
.class7{
    display: inline-block;
word-break:break-word; 
   line-height: 2.555;
    word-spacing: 5px;
    width: 400px;
}
.class8{
    white-space: nowrap;
}
.class9{
    background-color: #ddd;
    padding: 10px;
    width: 200px;
    white-space:nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}
.class9:hover{
    overflow: visible;

}
.class11{
    text-align: center;
    padding: 20px;
    background-color: #EEE;
    font-size: 20px;
    border:2px solid blue;

}
body{
    font-family:"Cairo",sans-serif;
}
.class11 p{
border: 2px solid;
border-color: inherit;
padding: inherit;
}
.with-ser,.sans-ser{
background-color: #ddd;
padding: 10px;
text-transform: capitalize;
}
/* 
css units
-px
-em =>one Time of the parent specification
-rem =>Root Time {one time of the root element} 
-vw => view port width
1vw = 1% of the width of the page
-percentage => percent of the parent specification

*/
.hello{
    font-size: 5vw;
    font-style: italic;
    font-style: normal;
    font-variant: small-caps ;
    font-weight: 300;
}
.hello span{
    font-size: 1em;
    text-transform: uppercase;
}
/* 
font style
font variant
font weight
*/

button{
    background: transparent;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.test{
    cursor: pointer;

}
.p1{
    cursor: grab;
}
.p2{
    cursor:move;
}