.green,.blue,.red,.black{
    width: 100px;
    height: 100px;
    position: absolute;
}
.black{
  background-color: black;
  z-index: -1;
  top: 30px;
  left: 20px;

}
.red{
  background-color: red;
  z-index: 3;
  top: 40px;
  left: 40px;

}
.blue{
  background-color: blue;
  top: 20px;
  left: 20px;
}
.green{
  background-color: green;
  z-index: 2;
  top: 30px;
  left: 30px;
}
hr{
    margin-top: 160px;
}
.assign-2{
    width: 400px;
    margin: 50px auto;
    background-color: #eee;
    padding: 20px;
    border: 3px solid;
    border-color: #f44336 #2196f3;
    position: relative;

    
}
.top-left,.top-right,.bottom-left,.bottom-right{
position: absolute;
background-color:#2196f3 ;
padding: 5px 10px;
color: white;
font-weight: bold;
}
.top-left{
    left: -15px;
    top: -15px;
    border-right: 3px solid #f44336;
}
.top-right{
    right: -15px;
    top: -15px;
    border-left: 3px solid #f44336;
}
.bottom-left{
    left: -15px;
    bottom: -15px;
    border-right: 3px solid #f44336;
}
.bottom-right{
    right: -15px;
    bottom: -15px;
    border-left: 3px solid #f44336;
}
.assign-3{
    width: 400px;
    margin: 50px auto;
}
.html,.JavaScript,.css{
    background-color: #ddd;
    margin-bottom: 20px;
    padding: 10px;
    list-style: none;
}
.html ol,.css ol{
    margin:10px;
    padding-left: 10px;
}
.html ol li,.css ol li{
    margin:10px;
    background-color: white;
    padding: 5px;
}
.css ol li{
    list-style-type: upper-roman;
}
.JavaScript ul {
    padding-left: 0px;
}
.JavaScript ul li{
    margin: 10px 0px;
    background-color: white;
    padding: 5px;
    list-style-position: inside;

}
table{
    width: 700px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #009688;

}
caption{
    font-weight: bold;
    margin-bottom: 20px;
    
}
table thead td{
    background-color: #404040;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
img{
    width: 70px;
}
table tbody td{
    background: #eee;
    padding: 20px;
    text-align: center;
}
.view{
    background-color: #03a9f3;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    margin: 5px;

}
.delete{
    background-color: #e91e63;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}