div {
    margin: 20px auto;
    border: 5px solid #ff5722;
    text-align: center;
    padding: 20px;

}
div p{
    background-color: #ddd;
    border: inherit;
    padding: inherit;
}
.one{
    font-family: 'Open Sans',sans-serif;
} 
.two{
    font-family: 'Cairo', sans-serif;
}
.three{
    font-family: 'Jomhuria', sans-serif;
}
html{
    font-size: 20px;
}
.four{
    text-align: center;
    font-size: 2.5rem;
}
.five{
    text-align: center;

    font-size: 2rem;
}
.six{
    text-align: center;

    font-size: 1.5rem;
}