.shadow{
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 #f24336, 2px 2px 0 #2196f3,3px 3px 0 #9c27b0;
}
p{
    text-align: center;
    font-size: 50px;

}
.one{
    text-transform: uppercase;
}
.two{
    text-transform: capitalize;
}
.three{
    text-transform: lowercase;
}
.outer {
    width: 400px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;

}
.outer2 {
    width: 400px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
}
.outer3 {
    width: 400px;
    background-color: #ddd;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a{
    text-transform: capitalize;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 20px auto;
    font-size: 50px;
    background-color: #009688;
    width: fit-content;
    padding: 10px 20px;
    font-family: arial;
    font-weight: bold;
    border-bottom: 10px solid #00514a;
    color: white;
}

