*{
    box-sizing: border-box;
    margin: 0;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.parent > div{
    background-color: red;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}
/* Mobile */
@media (max-width: 767px) {
    
}
/* Small Screen */
@media (min-width:768px)  {
    .parent > div{
        width: calc(50% - 10px);

    }
}
/* Medium Screens */
@media (min-width: 992px) {
    .parent > div{
        width: calc(25% - 5px);

    }
}
/* Mobile */
@media (min-width: 1200px) {
    
}
/* Create your framework */
.parent2{
    position: relative;
    background-color: #eee;
    margin: 20px auto;
    width: 1200px;
    height: 200px;
}
.parent2 div{
    background-color: green;
    color: white;
}
.product{
   
    background: red;
    color: white;
}
.center-position{
    position: absolute;
    left: 50%;
    top: 50%;
  transform:   translate(-50%, -50%);
}
.circle-100{
width: 100px;
height: 100px;
border-radius: 50%;

}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
CSS Global Values
-inherit
-initial
-unset
---If Inherit => inherit
---If Not => initial
-revert CSS Level [4]
-all
*/
.one{
color: red;
font-size: 40px;
font-weight: bold;
background-color: #eee;
padding: 20px;
margin: 5px;
border: 2px solid black;
}